<div id="altbg">

<div class="hero">
  <h1 class="other"><%= @article.title %></h1> <br /> </p>
  <p class="auth_img"><%= link_to gravatar_for(@article.user), user_path(@article.user) %>
  <p class="auth_ctr"><strong>Author:</strong> <em><%= @article.user.username %> </em></small></p>
</div>

<div class="container-fluid px-5">
  <div class="card shadow mb-5 mt-n5 bg-white rounded">
    <div class="card-body">
    <% if @article.categories.any? %>
      <div class="mb-2 text-center"><%= render @article.categories %></div>
    <% end %>
    <hr class="px-3" />
      <div class="card-text">
        <%= simple_format(@article.description) %>
      </div> 

      <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
        <%= link_to 'EDIT', edit_article_path(@article), class: "btn btn-sm btn-dark" %> 
        <%= link_to 'DELETE', article_path(@article), method: :delete, data: {confirm: "Confirm you want to delate this article!"}, class:"btn btn-sm text-white mysecondary" %>
      <% end %> 
    </div>
    <div class="card-footer text-white mydark text-center">
      <em>Created: <%= time_ago_in_words(@article.created_at) %> ago.</em> | <strong> Updated: <%= time_ago_in_words(@article.updated_at) %> ago.</strong>
    </div>
  </div>
    
</div>
</div>