<div class="row justify-content-center">
  <div class="col-10">
  <%= render 'shared/errormsg', objer: @user %>
    <%= form_with(model: @user, class: "shadow mb-4 p-5 bg-white rounded", local: true) do |form| %>
      <div class="form-group row">
        <%= form.label :username, class: "col-2 col-form-label" %>
        <div class="col-10">
        <%= form.text_field :username, class: "form-control shadow-sm mb-4 p-3 bg-white rounded", placeholder: "Enter a username" %>
        </div>
      </div>
    
      <div class="form-group row">
        <%= form.label :email, class: "col-2 col-form-label" %>
        <div class="col-10">
        <%= form.email_field :email, class: "form-control shadow-sm mb-4 p-3 bg-white rounded", placeholder: "Enter your email" %>
        </div>
      </div>

      <div class="form-group row">
      <%= form.label :password, class: "col-2 col-form-label" %>
      <div class="col-10">
      <%= form.password_field :password, class: "form-control shadow-sm mb-4 p-3 bg-white rounded", placeholder: "choose password" %>
      </div>
    </div>
    
      <div class="form-group row justify-content-end"> 
          <%= form.submit(@user.new_record? ? "Sign Up" : "Update Account", class: "btn text-white mysecondary btn-lg") %>
      </div>

      <% end %>
  </div>
</div>