
<div id="altbgfixed">
  <div class="container my-5">  
    <div class="card mb-4 shadow">
      <div class="row no-gutters">
        <div class="col">
          <div class="card-body">
          <div class ="col-lg"><h5 class="display-4">OUR MEMBERS</h5></div>
            <div class="d-flex flex-row align-content-start flex-wrap">
              <div class="col-xs mb-1"><%= image_tag("img_avatar6.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar4.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar3.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar5.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar4.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar3.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar6.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar2.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar6.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar3.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar5.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar4.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar3.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar5.png", size: "67", alt: "user") %>&nbsp;</div>
              <div class="col-xs mb-1"><%= image_tag("img_avatar4.png", size: "67", alt: "user") %></div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <% @users.each do |user| %>

      <div class="col-lg-4 col-md-6">

        <div class="card shadow mb-5 bg-white rounded">

          <div class="card-body text-center">
            <h3><%= link_to user.username, user, class: "mysand-text" %></h3>
            <hr class="col-1 my-3" />
            <h5 class="card-title float-right">
              <%= link_to gravatar_for(user, size:125), user %>
            </h5>

            <p class="card-text">Article count: <%= user.articles.count %> </p> 
          
	    <%= link_to "View Profile", user, class: "btn text-white mysand mb-1" %> <br />
            <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-dark" %> 
           
          </div>

          <div class="card-footer text-white mydark text-center">
            <p><strong><%= user.username %></strong> <em>Joined: <%= time_ago_in_words(user.created_at) %> ago.</em></p>
          </div>

        </div>

      </div>
      <% end %>

    </div>
  </div>
</div>