<div id="altbgfixed">
  <div class="container my-5">  
    <div class="card mb-4">
      <div class="row no-gutters">
        <div class="col-md-4 p-3">
          <%= gravatar_for @user, size:190, class: "float-right" %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="display-4">
              <%= @user.username %>'s Profile
            </h5>
            <h4 class="mysand-text">
              <%= @user.username %>'s <span class="lead"> Article Count: 
              <%= @user.articles.count %> </span>
            </h4>
            <p class="card-text">
              This is a wider card with supporting text.
            </p>
            <p class="card-text"><small class="text-muted">MEMBER SINCE: <%= time_ago_in_words(@user.created_at) %> ago.</small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
    <% random_num = 1 %>
      <% @articles.each do |article| %>
      <div class="col-6">
        <div class="card shadow mb-4 bg-white rounded">     
          <div class="card-body">
          
          <%= image_tag("https://picsum.photos/500/200?random=#{random_num}&blur=2") %>
            <h5 class="card-title">
                <%= link_to article.title, article_path(article), class:"text-dark" %>
            </h5>
            <small>
              <strong>Author:</strong> <em><%= article.user.username %> </em>
            </small> 
            
            <br />

            <p class="card-text">
              <%= truncate(article.description, length: 75) %>
            </p>
                
            <%= link_to 'VIEW', article_path(article), class: "btn text-white mysand" %> 
            <%= link_to 'EDIT', edit_article_path(article), class: "btn btn-dark" %> 
            <%= link_to 'DELETE', article_path(article), method: :delete, data: {confirm: "Confirm you want to delate this article!"}, class:"btn text-white mysecondary" %>
          </div>

          <div class="card-footer text-white mydark text-center">
            <em>Created: <%= time_ago_in_words(article.created_at) %> ago.</em>
          </div>

        </div>
      </div>  
      <% random_num = random_num + 1 %>      
      <% end %>

    </div>

  </div>
</div>